body {
  margin: 0px;
  background-color: #5b0605;
}

header {
  display: flex;
  justify-content: space-between;
  /*width: 100%;*/
  padding: 20px 2%;
  /*border-bottom: 2px solid #972308;
  background-color: #FFE5B4;*/
}

.logo {
  font-family: 'Edu VIC WA NT Beginner', cursive;
  font-size: 36pt;
  color: #e0a94a;
  filter: drop-shadow(3px 4px 0px #db832a);
  text-decoration: underline dotted;
}

ul {
  margin: 0%;
}

nav>ul>li {
  display: inline;
}
