// @use 'spring' as *;
@use 'summer' as *;
// @use 'autumn' as *;
// @use 'winter' as *;

$font-edu-vic: 'Edu VIC WA NT Beginner', cursive;
$font-righteous: 'Righteous', cursive;

body {
  margin: 0px;
  background-color: $color-bg;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px 2%;
}

.logo {
  font-family: $font-edu-vic; 
  font-size: 36pt;
  color: $color-logo;
  filter: drop-shadow(3px 4px 0px $color-logo-shadow);
  text-decoration: underline dotted;
}

nav {
  display: flex;
  align-items: center;
  font-family: $font-righteous;
  ul {
    margin: 0%;
    li {
      display: inline;
      list-style: none;
      a {
        color: $color-logo-shadow;
        font-size: 24pt;
        padding-left: 12pt;
        text-decoration: none;
      }
      a:hover {
        color: $color-logo;
        filter: drop-shadow(1px 1px 0px $color-logo-shadow);
        animation-name: light-up;
        animation-duration: 0.5s;
      }
    }
  }
}

@keyframes light-up {
  0% {
    color: $color-logo-shadow;
  }
  100% {
    color: $color-logo;
  }
}
